/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global */
html, body {
  width: 100%;
  height: 100%;
  color: white;
}

/* Page */
 #nav{
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0.625rem;
    padding: 2rem 8vw;
  
 
   .navigation_routes{
        display: flex;
        gap: 0.5rem;


    }
  }

  .nav-bottom{
   
    position: absolute;
    width: 80%;
    bottom: 0%;
    transition: all ease 0.6s;
   border-bottom: 2px solid white;
  }

  #nav:hover .nav-bottom {
   height: 100%;
 
   bottom: -100%;
  }
#page1 {
  height: 100vh;
  width: 100%;
  background-color: rgb(14, 13, 13);


 
  .banner1_herosection {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 7vw;
      font-weight: 900;
      line-height: 9vw;
      text-transform: uppercase;

      span {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 6vw;
        height: 6vw;
        background-color: green;
        border-radius: 50%;
      
        img {
          width: 4vw;
          
        }
      }
    }


    .hero-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin: 1rem;
    }
   .hero_btns {
  border-radius: 2rem;
  border: 0.5px solid white;   // ✅ FIXED
  color: white;              // ✅ FIXED
  padding: 0.45rem 1rem;
  background: transparent;
  cursor: pointer;
  

  h3 {
    font-weight: 100;

  }
}

  }
}


#moving-div{
    margin-top: 10vh;
    position: absolute;
    bottom: 3%;
    display: flex;
    width: 50%;
    white-space: nowrap ;
    padding: 2vw;
    overflow: hidden;

    .move{
        display: inline-block;
        align-items: center;
        gap: 2vw;
          animation-name: move; 
          animation-duration:9s ;
          animation-timing-function: linear;


        img{
            height: 1vw;
        }
    }
}

@keyframes move {
    0%{
        transform: translateX(0);
    }
    100%{
        transform:translateX(-100%) ;
    }
}
.blurleft{
    height: 20%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
background: linear-gradient(to left ,#111 ,transparent);
}
.blurright{
    background: linear-gradient(to right ,transparent ,#111);
    height: 20%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}