/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global */
html,
body {
    width: 100%;
    height: 100%;
    color: white;
}

/* Page */
#nav {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0.625rem;
    padding: 2rem 8vw;
    z-index: 999;

    .navigation_routes {
        display: flex;
        gap: 0.5rem;


    }
}

.nav-bottom {

    position: absolute;
    width: 80%;
    bottom: 0%;
    transition: all ease 0.6s;
    border-bottom: 2px solid white;
}

#nav:hover .nav-bottom {
    height: 100%;

    bottom: -100%;
}

#page1 {
    height: 100vh;
    width: 100%;
    background-color: rgb(14, 13, 13);



    .banner1_herosection {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 7vw;
            font-weight: 900;
            line-height: 9vw;
            text-transform: uppercase;

            span {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 6vw;
                height: 6vw;
                background-color: green;
                border-radius: 50%;

                img {
                    width: 4vw;

                }
            }
        }


        .hero-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            margin: 1rem;
        }

        .hero_btns {
            border-radius: 2rem;
            border: 0.5px solid white; // ✅ FIXED
            color: white; // ✅ FIXED
            padding: 0.45rem 1rem;
            background: transparent;
            cursor: pointer;


            h3 {
                font-weight: 100;

            }
        }

    }
}


#moving-div {
    margin-top: 10vh;
    position: absolute;
    bottom: 3%;
    display: flex;
    width: 50%;
    white-space: nowrap;
    padding: 2vw;
    overflow: hidden;

    .move {
        display: inline-block;
        align-items: center;
        gap: 2vw;
        animation-name: move;
        animation-duration: 9s;
        animation-timing-function: linear;


        img {
            height: 1vw;
        }
    }
}

@keyframes move {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.blurleft {
    height: 20%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(to left, #111, transparent);
}

.blurright {
    background: linear-gradient(to right, transparent, #111);
    height: 20%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}




#page2 {
    width: 100%;
    height: 100vh;
    background-color: rgb(14, 13, 13);
    position: relative;
    padding: 0vw 12vw;
    padding-bottom: 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid grey;
}

#page2_left {
    height: 100%;
    width: 40%;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    padding: 3vw 1.5vw;

    p {
        font-size: 1vw;
        width: 65%;
    }

}

#page2_right {
    height: 100%;
    width: 50%;


    .rightelements {
        position: relative;
        padding-top: 2.5vw;
        border-bottom: 1px solid #333;
        padding-bottom: 6vw;

        h2 {
            font-size: 1.2vw;
            font-weight: 400;

        }

        img {
            height: 5vw;
            width: 5vw;
            border-radius: 50%;
            object-fit: cover;
            position: absolute;
            background-color: green;
            opacity: 0;
        }
    }

}

.rightelements {
    position: relative;
}

.rightelements img {
    position: absolute;
    opacity: 0;
    scale: 0;
    pointer-events: none;
}


#page3 {
    width: 100%;
    height: 100vh;
    background-color: #111;
    position: relative;
    background-image: url(https://images.unsplash.com/photo-1721314787850-5745fdfb06b4?w=600);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page3-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    z-index: 10;
}

.page3-center .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vw;
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    background-color: black;
}

.page3-center .icon i {
    font-size: 3vw;
    color: white;
}

.page3-center h5 {
    font-size: 1vw;
    padding: 10px 20px;
    border-radius: 50px;
    margin-top: 10px;
    background-color: white;
    color: #333;
    opacity: 0;
    transform: translateY(10%);
    transition: all 0.5s ease;
    text-transform: uppercase;
}

.page3-center:hover h5 {
    opacity: 1;
    transform: translateY(0);
}

#page3 video {
    height: 100%;
    width: 100%;
    position: absolute;
    inset: 0;
    object-fit: cover;
    transform: scaleX(0.7) scaleY(0.2);
    border-radius: 30px;
    opacity: 0;
    z-index: 1;
}



#page4 {
    min-height: 100vh;
    width: 100%;

}

#page4 .tableSection {
    height: 100%;
    width: 100%;
    display: flex;
    gap: 4vw;
    padding: 2vw 4vw;

    align-items: center;
    justify-content: center;
}

#page4 .tableLeft {
    width: 40%;
    height: 80%;

    padding: 2vw;
    color: #111;

}

#page4 .tableright {
    width: 40%;
    height: 80%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: black;

    div h4 {
        padding: 2vw;
        color: black;
    }

    div p {
        padding: 2vw;
        color: black;
    }
}

#page4_cardsection {

    .card_page4 {
        background-color: #dedede;
        width: 400px;
        height: auto;
        padding: 1rem;
        margin-bottom: 4vw;

    }

}

#page5 {
    width: 100%;

    min-height: 100vh;
    padding: 2vw 4vw;
    background-color: #ffffff;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vw;
}

.section {
    display: flex;

    justify-content: start;
    align-items: center;
    gap: 4vw;
}


#page5 .sec-page5-left {
    height: 100%;
    width: 30%;
    ;
    padding: 4vw 3vw;

    h3 {
        margin: 0 0 3vw 0;
        padding: 0vw 1vw;
    }

    p {
        color: #333;
        font-weight: 300;

    }
}

#page5 .sec-page5-right {
    height: 100%;
    width: 60%;
    background-color: rgb(64, 71, 71);
    position: relative;
}

#page5 .sec-page5-right img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page5 .sec-page5-right video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#page6 {
    width: 100%;
    min-height: 100vh;
    background-color: #111;


    .page6_head {
        padding: 0vw 5vw;
        position: relative;
        display: flex;
        flex-direction: column;

        h1 {
            font-size: 4em;
            padding: 4vw 4vw;
            text-transform: uppercase;
            font-weight: 800;

        }

        p {
            width: 80%;
            font-size: 1.4em;
            padding: 4vw 4vw;
            font-weight: 400;
        }
    }


    .page6_main {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        .page6_main_div1 {
            padding: 2vw 4vw;

            &:hover {
                border-top: 1px solid gray;
            }

            div {
                border-top: 1px solid gray;

                h1 {
                    text-transform: uppercase;
                    padding: 0.35rem;
                    transition: all ease-in 0.4;

                    &:hover {
                        color: green;

                    }
                }
            }

        }


        .page6_main_div2,
.page6_main_div3 {
    width: 100%;
    padding: 1vw 2vw;

    &:hover {
        border-top: 1px solid gray;
    }

    .vertical_card {
        padding: 1vw;

        h1 {
            font-size: 2em;
            font-weight: 700;
            line-height: 1em;
        }

        p {
            margin: 2vw 0;
            color: #333;
            font-weight: 300;
            font-size: 1.1em;
        }

        div {
            position: relative;
            width: 100%;
            overflow: hidden;

            img,
            video {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
            }

            video {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                transition: opacity 0.4s ease;
                pointer-events: none;
            }

        }
    }

    .vertical_card {
  overflow: hidden;
}

.gsap_view {
  will-change: transform;
}
}

        
    }
}
